.subreddits {
  font-family: 'Montserrat', serif;
  font-size: 0.8rem;
  background-color: rgb(231, 231, 231);
  flex: 1;
}

.subreddit-content {
  background-color: white;
  border-left: 1px solid rgb(212, 212, 212);
  border-right: 1px solid rgb(187, 187, 187);
  border-bottom: 1px solid rgb(187, 187, 187);
  margin: auto; 
  margin-right: min(0.5rem, 50%);
  width: 70%;
  min-width: 240px;
}

@media only screen and (min-width: 1024px) {
  .subreddit-content {
    border-top: 1px solid rgb(212, 212, 212);
  }
}


@media only screen and (max-width: 640px) {
  .subreddits {
    display: none;
  }
}

.subreddit-container {
  display: flex;
  align-items: center;
  align-content: center;
  flex: 1;
  padding: 0.2rem;
}

.subreddit-logo-container {
  height: 20px;
  width: 20px;
}

.subreddit-logo-container img {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px black solid;
}

.subreddit-text-container {
  flex: 1;
  text-align: left;
}

.subreddit-text {
  padding: 0 0.5rem;
  font-weight: bold;
}