:root {
  --blue: #304075;
  --medium-blue: rgb(80, 131, 181);
  --light-blue: rgb(201, 221, 241);
  --white: #ffffff;
  --orange: rgb(255, 210, 194);
  --gray: rgb(231, 231, 231);
  --black: #000000;
  --border-light: rgb(212, 212, 212);
  --border-dark: rgb(187, 187, 187);
  --header-height: 3rem;
  --sidebar-width: 33%;
}

.content {
  position: relative;
  top: var(--header-height); /* To offset for fixed header. */
  display: flex;
  justify-content:flex-end;
  min-height: calc(100vh - var(--header-height));
  background-color: var(--gray);
}

