header {
  position: fixed;
  width: 100%;
  background-color: var(--blue);
  z-index: 4;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  height: 3rem;
}

header .logo {
  display: flex;
  align-items: center;
  align-content: center;
  padding-left: 1rem;
}

.logo-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-image img {
  height: 2.25rem;
  width: 2.25rem;
}

.logo-text {
  padding: 0 0.75rem;
}

.logo-text span {
  flex: 1;
  color: var(--white);
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

.logo-text .orange {
  color: var(--orange);
  font-weight:bold;
}

.search {
  padding-right: 0.5rem;
}

.search input {
  width: 100%;
  box-sizing: border-box
}

#search-box {
  padding: 0.4rem 0.5rem;
  border: 1px solid;
  border-radius: 3px;
}