.comment {
  margin: 0.5rem 0.5rem 0.2rem 0.5rem;
  text-align: left;
  border-bottom: 1px rgb(231, 231, 231) solid;
}

.comment:last-child {
  border-bottom: 0;
}

.comment-author {
  font-weight: bold;
}

.comment-body {
  padding-top: 0.3rem;
  padding-bottom: 1rem;
}