.comment {
  margin: 0.1rem 0.5rem;
  text-align: left;
  border-bottom: 1px rgb(231, 231, 231) solid;
  padding: 1rem 0 1rem 0;
}

.comment:last-child {
  border-bottom: 0;
}

.comment-author {
  font-weight: bold;
}

.comment-body {
  padding-top: 0.3rem;
}